.characteristic__item_name_time {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;

}

.characteristic__item_name_time::before {
  content: "";
  width: 15px;
  height: 16px;
  background-image: url(../../../../images/icon__time.svg);
  margin: 0 10px;
  display: inline-block;
  vertical-align: text-top;
  background-size: cover;
}