.menu__button {
  padding: 11px 20px;
  background-color: #fff;
  border-radius: 21px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  color: #000; 
  text-decoration: none;
}